---

---

<html>
	<head>
		<title>Adobe Acrobat Services PDF Embed API Sample</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<style>
			
		  </style>
	</head>
	<body style="margin: 0px">
		<div class=" h-[100vh]">
		<embed src="https://pub-d55a11d4537147b0b55a2d0c3227b48a.r2.dev/menu-sinculpa.pdf" type="application/pdf" width="100%" height="100%">
		</div>
	</body>
</html>
